<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBHospital" connectionString="Data Source = DESKTOP-3P42OP0\SQLEXPRESS; Initial Catalog = Hospital; Integrated Security = True;"/>
		<add name="DBHospitalNew" connectionString="Data Source = DESKTOP-3P42OP0\SQLEXPRESS; Initial Catalog = HospitalNew; Integrated Security = True;"/>
	</connectionStrings>
</configuration>