<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AirlinesDB" connectionString="Data Source = DESKTOP-3P42OP0\SQLEXPRESS;Initial Catalog = Airlines;Integrated Security = True;Encrypt = False;Trust Server Certificate = False;Application Intent = ReadWrite;Multi Subnet Failover = False"/>
	</connectionStrings>
</configuration>